*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 234, 227);
}

#icon{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-color: white;
    border-radius: 0px 10px 10px 0px;
}

#info{
    padding: 0px 35px;
}

#perfum{
    height: 450px;
    border-radius: 10px 0px 0px 10px;
}

p{
    color: gray;
}

#mani{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px 0px;
}

#h_1{
    padding: 10px 0px;
}


#cost{
    color: rgb(62, 129, 105);
}

h3{
    color: gray;
    text-decoration: line-through ;
}

button{
    background-color:  rgb(62, 129, 105);
    color: white;
    width: 230px;
    height: 50px;
    border: none;
    border-radius: 10px;
}

#b_i{
    margin: 0px 10px;
}