*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.fixed-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 30px;
    background-color: green;
    color: white;
}
