*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#icon{
    width: 800px;
    height: 550px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

.div{
    padding: 40px 40px;
}

#divs{
    display: flex;
}


#d_1{
    background-color: white;
    border-radius: 10px 10px 0px 0px;
    width: 800px;
    height: 250px;
}

#d_2{
    background-color: rgb(43, 179, 177);
    border-radius: 0px 0px 0px 10px;
    width: 400px;
    height: 300px;
}


#cost{
    color: rgb(167, 210, 212);
}

#d_3{
    background-color: rgb(74, 189, 188);
    border-radius: 0px 0px 10px 0px;
    width: 400px;
    height: 300px;
}

#h{
    color: rgb(47, 170, 167);
}

#grin{
    color: rgb(191, 223, 52);
}

#p_1{
    color: gray;
    padding: 10px 0px;
}

b{
    font-size: 40px;
}

#txt{
    display: flex;
    align-items: center;
    gap: 30px;
}
#n{
    font-size: 35px;
    color: white;
}

.txt{
    color: rgb(199, 239, 241);
}

.h_2{
    color: white;
    padding: 0px 0px 20px 0px;
}

#p_2{
    padding: 10px 0px 35px 0px;
}

button{
    background-color: rgb(191, 223, 52);
    border-radius: 10px;
    width: 320px;
    height: 50px;
    border: none;
    color: white;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}