@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Barlow Semi Condensed", sans-serif;
}

#d1{
    display: grid;
    grid-template-rows: 400px 400px;
    grid-template-columns:350px 350px 350px 350px;
    gap: 25px;
   
}
div{
    border-radius: 10px;
}

#daniel{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: rgb(115, 62, 200);
    border-radius: 10px;
    width: 700px;
    height: 400px;
}

#Jeanette{
    grid-column-start: 1;
    border-radius: 10px;
    width: 350px;
    height: 350px;
}


#Jonathan{
    background-color: rgb(73, 85, 107);
    height: 400px;
    width: 320px;
}

#particular{
    grid-row-start: 2;
    grid-column-start: 2;
    width: 700px;
    height: 350px;
    background-color: rgb(25, 31, 45);
    border-radius: 10px;    
}

#kira{
    grid-column: 4;
    grid-row-start: 1;
    height: 780px;
    width: 350px;    
}

.divs{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:  0 20px 40px rgba(0, 0, 0, 0.25);
}

.icon{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
}

img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.h_1{
    color: rgba(255, 255, 255, 0.817);
}

.p_1{
    color: rgba(255, 255, 255, 0.679);
}

p{
    line-height: 23px;
}