*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(213, 224, 239);
    padding: 50px;
}

div{
    width: 400px;
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}


img{
    width: 350px;
    height: 350px;
    border-radius: 15px;
}

h1{
    font-size: 30px;
}

p{
    font-size: 22px;
    color: gray;
}