*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: blue;
}
.red{
    background-color: red;
    position: relative;
    top: 200px;
    left: 210px;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 1000px;
    height: 500px;
    background-color: green;
}
