*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 100vh;
    background-image: url(./images/pattern-background-desktop.svg);
    background-color: rgb(223, 232, 255);
}
img{
    border-radius: 20px 20px 0px 0px;
}

#main{
    width: 450px;
    height: 650px;
    border: none;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

p{
    color: gray;
}

#annual{
    display: flex;
    align-items: center;
    width: 350px;
    height: 90px;
    border-radius: 10px;
    border:none;
    background-color: rgb(248, 249, 255);
}
#m_i{
    padding: 0px 20px;
}

#link{
    padding: 0px 100px ;
}

#Proceed{
    width: 350px;
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: rgb(56, 42, 225);
    color: white;
}

#cancle{
    color: gray;
    background-color: white;
    border: none;
}

#p1{
    color: black;
}

a{
    color: blue;
}


h1{
    padding: 50px 0px 20px 0px;
}