body{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 100px;
}

div{
    width:  300px;
    height: 400px;
    border:solid blue;

}

img{
    width: 300px;
    height: 250px;
}

h1{
    color: blue;
}

p{
    color: blue;
}