body{
    background-color: rgb(1, 8, 12);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 100px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 500px;
    background-color: white;
}

img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
}


p{
    font-size: 20px;
}