body{
    background-color: rgb(253, 124, 137);
    display: flex;
    justify-content: center;
    padding: 150px;
    gap: 15px;
}

.icon{
    display: flex;
    justify-content: center;
    background-color: white;
    width: 380px;
    height: 400px;
    border-radius: 10px;
}

img{
    width: 350px;
    height: 200px;
    border-radius: 10px;
}

#title{
    width: 100px;
    height: 30px;
    background-color: white;
    border: 2px solid rgb(255, 102, 102);
    box-shadow: 1px 1px 1px  rgb(253, 124, 137);
    border-radius: 5px;
}


#more{
    width: 190px;
    height: 45px;
    background-color: rgb(255, 106, 136);
    border: none;
    border-radius: 10px;
}