#p3{
    background-color: red;
    color: blue;
}

#p1{
    background-color: green;
    color: gold;
}

#p2{
    background-color: blue;
    color: red;
}

#p4{
    background-color: firebrick;
    color: rgb(114, 42, 165);
}

#p5{
    background-color: forestgreen;
    color: violet;
}