*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

#main_d{
    display: flex;
    align-items: center;
    flex-direction: column;

}

#icon{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    border-radius: 10px;
}

.div{
    background-color: white;
    width: 350px;
    height: 250px;
    border-radius: 5px;
    box-shadow: 0 8px 20px 5px rgba(0,0,0,0.30);
}

#div_2{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

img{
    width: 60px;
    height: 60px;
}

.icon_1{
    padding: 30px;
    border-radius: 5px;
}

.txt{
    color: rgb(113, 114, 116);
    padding: 8px 0px;
    line-height: 23px;
}

h2{
    color: rgb(71, 70, 83);
}

#h{
    color: rgb(71, 70, 83);
    padding: 10px  0px 20px 0px;
    font-size: 38px;
}

#heder_txt{
    padding: 0px 0px 70px 0px;
}

#p_2{
    font-size: 36px;
    color: rgb(85, 83, 93);
}

.icon_1 div{
    width: 100%;
    display: flex;
    justify-content: end;
    
}