*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    height: 100vh;
}



#hw_1{
    background-color: red;
    width: 100px;
    height: 100px;
    animation-name: wh_1;
    animation-delay: 3s;
}

@keyframes hw_1{
    from{
        opacity: 0;
    }

    to{
        opacity: 2;
    }
}


#hw_2{
    background-color: blue;
    width: 100px;
    height: 50px;
    animation-name: hw_2;
    animation-iteration-count: 3; 
}


@keyframes hw_2{
    from{
        transform: translateX(-200px);
    }
    to{
        transform: translateX(0);
    }
}