body{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

div{
    width: 200px;
    height: 250px;
    background-color: red;
    border-radius: 30px;
}