body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 100px;
    height: 100vh;
}
.d_1{
    width: 300px;
    background-color: rgba(249, 0, 0, 0.635);
    border-radius: 12px;
    transition: transform 0.3s ease,box-shadow 0.3s ease,background-color 0.3s ease;
}

.d_1:hover{
    transform: scale(1.1);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 0, 0);
}



.d_2{
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: blue;
    color: white;
    cursor: pointer;
    transition: transform 0.25s ease,color 0.25s ease,background-color 0.25s ease;
}

.d_2:hover{
    transform: rotate(5deg);
    color: #ffeb3b;
}

.d_2:active{
    transform: scale(0.9);
}


.d_3{
    width: 80px;
    height: 80px;
    background-color: red;
    transform: translateX(-150px);
    transition:transform 3s ease,background-color 5s ease;
}

.d_3:hover{
    transform: translateX(0);
    background-color: purple;
}


.d_5{
    width: 200px;
    height: 200px;
    border: 3px solid red;
}

.d_5:hover {
    background-image: url("./audi.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



