*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

input{
    width: 400px;
    height: 50px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container{
    width: 500px;
    padding: 50px;
    background-color: rgb(23, 23, 23);
    border: 3px solid limegreen;
    border-radius: 20px;
    box-shadow: 0 0 20px limegreen;
}

.register-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-form h1{
    text-align: center;
    color: limegreen;
    margin-bottom: 20px;
    text-shadow: 0 0 15px limegreen;
}

.register-form input{
    padding: 15px;
    background-color: rgb(23, 22, 22);
    border: 2px solid limegreen;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
}


button{
    width: 395px;
    padding: 15px;
    background-color:  rgb(23, 23, 23);
    border: 2px solid limegreen;
    color: limegreen;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
}

button:hover{
    background-color: limegreen;
    color: black;
    box-shadow: 0 0 20px limegreen;
}