*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
body{
    padding-top: 100px;
    background-color: rgb(20, 20, 20);
    display: flex;
    justify-content: center;
}

#icon{
    background-color: rgb(31, 31, 31);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    width: 370px;
    height: 630px;
    gap: 30px;
}

#header{
    display: flex;  
    align-items: center;
    flex-direction: column;
    
}
img{
    border-radius: 100px;
    width: 80px;
    height: 80px;
}

h1{
    color: white;
}

#name{
    color: white;
    font-size: 30px;
    padding: 10px;
}

#p{
    padding: 10px;
    color: gray;
}


button{
    width: 300px;
    height: 45px;
    background-color: rgb(51, 51, 51);
    border: none;
    border-radius: 10px;
    color: white;
}

#place{
    padding: 5px;
    color: hsl(75, 94%, 57%)
}

#buttons{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}