*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    margin: 0px;
    height: 100vh;
}

button{
    border: none;
}

a{
    text-decoration: none;
}

input{
    border: none;
}

header{
    background-color: rgb(24, 24, 24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 50px;
}

#car{
    color: red;
}

#div_logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

#serch{
    width: 400px;
    height: 40px;
    border-radius: 20px;
    background-color: gray;
}

#youtube{
    text-decoration: none;
    color: white;
}

.l_s{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: none;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    background-color: black;
    padding: 50px;
}

.cars_div{
    width: 1500px;
    height: 700px;
    background-color: red;
}

.mor{
    width: 800px;
    height: 60px;
    border-radius: 20px;
}

.info{
    position: relative;
    left: 25%;
    top: 600px;
}

#m{
    background-image: url(./img/m.avif);
}

#b{
    background-image: url(./img/bm.avif);
    background-repeat: no-repeat;    
    background-size: cover;      
    background-position: center; 
}

#f{
    background-image: url(./img/Ferrari.jpg);
    background-repeat: no-repeat;    
    background-size: cover;      
    background-position: center; 
}

#audi{
    background-image: url(./img/audi.webp);
    background-repeat: no-repeat;    
    background-size: cover;      
    background-position: center; 
}

#porshe{
    background-image: url(./img/p.jpg);
    background-repeat: no-repeat;    
    background-size: cover;      
    background-position: center; 
}

.a{
    position: relative;
    left: 25%;
    top: 100px;
}

.mor:hover{
    background-color: red;
    
}