*{
    padding: 0;
    box-sizing: 0;
    margin: 0;
}

body{
    background-color: rgb(129, 189, 99);
    display: flex;
    justify-content: center;
    padding: 100px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 300px;
    background-color: white;
    gap: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

input{
    width: 300px;
    height: 50px;
    border: none;
    background-color: rgb(243, 243, 242);
    padding-left: 10px;
}


button{
    width: 300px;
    height: 50px;
    background-color: rgb(76, 177, 84);
    border: none;
    color: white;
}

p{
    color: rgb(230, 230, 230);
}


b{
    color: rgb(88, 205, 98);
}