body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(25, 42, 50);
}

#main{
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows:100px 100px 100px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.d{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(31, 53, 64);
    width: 100px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 5px rgba(0, 0, 0, 0.4);
}

.noliki{
    background-color: rgb(242, 178, 55);
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.wre{
    width: 25px;
    height: 25px;
    border-radius: 50px;
    background-color: rgb(31, 53, 64);
    position: relative;
    top: 13px;
    left: 13px;
}

.d{
    position: relative;
}
.iqsiki1 {
    position: absolute;
    width: 15px;
    height: 60px;
    background-color: rgb(49, 195, 190);
    border-radius: 5px;
    top: 15px;
    left: 40px;
    transform: rotate(45deg);
}
.iqsiki{
    position: absolute;
    width: 15px;
    height: 60px;
    background-color: rgb(49, 195, 190);
    border-radius: 5px;
    top: 15px;
    right: 40px;
    transform: rotate(-45deg);
}

.n_1{
    grid-row: 1;
    grid-column: 3;
}

.n_2{
    grid-row: 2;
    grid-column: 2;
}

.n_3{
    grid-row: 3;
    grid-column: 2;
}

.i_1{
    grid-row: 1;
    grid-column: 2;
}

.i_2{
    grid-row: 2;
    grid-column: 1;
}

.i_3{
    grid-row: 2;
    grid-column: 3;
}

.i_4{
    grid-column: 3;
    grid-row: 3;
}