*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

button{
    width: 200px;
    height: 30px;
    background-color: red;
    position: sticky;
    bottom: 50px;
    top: 100px;

}