*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

div{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: font-size color 10s, font-weight 2s;
    transition-delay: 5s;
}

div:hover{
    font-size: 300px;
    background-color: purple;    
    font-weight: 300px;
}