@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Indie+Flower&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35vh;
    background-image: url(./images/bg-header-desktop.png);
}

#header_img{
    width: 80px;
    height: 80px;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 100px;
}

.divs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h{
    color: rgb(77, 83, 89);
}

.ios{
    background-color: rgb(38, 187, 165);
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 30px;
    color: white;
}

.mac{
    background-color: rgb(96, 116, 255);
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 30px;
    color: white;
}

#b_d{
    padding: 30px 0px 80px 0px;
    display: flex;
    gap: 10px;
}

#h{
    padding: 0px 0px 10px 0px;
}

.p{
    color: rgb(162, 166, 167);
    line-height: 23px;
}

#d_2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}
#h{
    pad: 10px;
}

.leptop{
    width: 550px;
    height: 400px;
}

#leptop_1{
    display: flex;
    align-items: center;
    gap: 80px;
    padding-right: 348px;
}

#list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0px 0px 50px 0px;
}

.p_1{

    line-height: 25px;
    color: rgb(162, 166, 167);
}

.d2{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#leptop_2{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.lep{
    width: 800px;
    height: 500px;
}

.div_icons{
    display: flex;
    padding: 50px 0px 0px 0px;
    gap: 20px;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icons_p{
    line-height: 5px;
    color: rgb(162, 166, 167);
}

.icon_img{
    width: 30px;
    height: 25px;
}

.img_icons2{
    width: 125px;
    height: 40px;
}

.div_icons2{
    display: flex;
    padding: 50px 0px 0px 0px;
    gap: 80px;
}


